<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<title>Detalle Evento</title>
</head>
<body>
	<div class="container">
		<h1>Detalle Evento</h1>

		<a href="/listaeventos" class="waves-effect waves-light btn"><i class="material-icons right">apps</i>Lista Eventos</a>
        
        <div class="row">
            <p>nombre: <span th:text="${evento.nombre}"></span></p>
            <p>local: <span th:text="${evento.local}"></span></p>
            <p>fecha: <span th:text="${evento.fecha}"></span></p>
            <p>hora: <span th:text="${evento.horario}"></span></p>
		</div>
		
		<th:block th:include="mensajeValidacion"></th:block>
		
		<form action="" method="post">
			RG: <input type="text" value="" name="rg"/>
			Nombre Invitado: <input type="text" value="" name="nombreInvitado"/>
			<input type="submit" value="adicionar" class="waves-effect waves-light btn">
		</form>
		<h5>Lista Invitadoss</h5>
		<div th:each=" invitado: ${invitados}">
			<div class="row">
				<div class="input-field col s3">
					<span th th:text="${invitado.rg}"></span>
				</div>
				<div class="input-field col s6">
					<span th th:text="${invitado.nombreInvitado}"></span>
				</div>
			</div>
		</div>
		
	</div>	
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>