<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<title>Lista de Eventos</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Lista Eventos</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="/evento" class="waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Crear Evento</a>
            </li>
            </ul>
        </div>
    </nav>
        
	<div class="container">
		<table>
            <thead>
                <th>Nombre</th>
                <th>Local</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th></th>
            </thead>
            <tbody>
                    <tr th:each=" evento: ${listaEventos}">
                            <td><a th:href="${(#mvc.url('EC#detalleEvento').arg(0, evento.id)).build()}">
                                <span th:text="${evento.nombre}"></span>
                                </a>
                            </td>
                            <td>
                                <span th:text="${evento.local}"></span>
                            </td>
                            <td>
                                <span th:text="${evento.fecha}"></span>
                            </td>
                            <td>
                                <span th:text="${evento.horario}"></span>
                            </td>
                            <td>
                                <a th:href="${(#mvc.url('EC#deleteEvento').arg(0, evento.id)).build()}">
                                <i class="material-icons">delete</i>
                                </a>
                            </td>
                        
                    </tr>
            </tbody>
        </table>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>